.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: red;
}

.add-space {
    margin: 15px;
}

html {
    background-image: url("./badumtss.jpg");
    background-repeat: no-repeat;
    background-size: 1250px 600px;
}